.form{
    display: flex;
    flex-direction: column;
    margin: 0rem 32rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 13rem;
    border: 3px solid blanchedalmond;
   
}

.input{
    margin: 12px 0px;
    width: 16rem;
    height: 2rem;
}

.input:focus{
    background-color: lightblue;
}
.signupBtn{
    background-color: #0017ba;
    border: none;
    width: 10rem;
    height: 2rem;
    color: white;
    border-radius: 2rem;
    font-size: large;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 5rem;
    margin-top: 2rem;   
}

